In [1]:
s = "string"
l = [1,2,3,"string","cat",4.4]
f = 4.5
t = (3,"element",4.5)

In [3]:
var1 = '' # under double quote thus it will be string"
type(var1)

str

In [5]:
var2 = '[DS, ML, Python]' # under double quote thus it will be string"
type(var2)

str

In [6]:
var3 = ['DS','ML','Python'] # elements are contained in square bracket thus it is a list
type(var3)

list

In [7]:
var4 = 1 # it is an integer
type(var4)

int

In [8]:
5/2 # it is simple division operator

2.5

In [10]:
5%2 # this operator divides the first by second and gives the remainder

1

In [11]:
5//2 # This operator divides the first by second and returns the dividend

2

In [13]:
5**2 # this operator raises fisrt element to the power of second element

25

In [15]:
my_list = [1,2.5,"gyanendra",["cat","dog"],("apple","orange"),{1,5,"car","finance"},{"name":"gyanendra", "education":"B.Tech","Work":"Business Analyst"}, 4.5, 6,9]
print(len(my_list))

10

In [17]:
for element in my_list:
    print(element)
    print(type(element))

1
<class 'int'>
2.5
<class 'float'>
gyanendra
<class 'str'>
['cat', 'dog']
<class 'list'>
('apple', 'orange')
<class 'tuple'>
{'finance', 1, 'car', 5}
<class 'set'>
{'name': 'gyanendra', 'education': 'B.Tech', 'Work': 'Business Analyst'}
<class 'dict'>
4.5
<class 'float'>
6
<class 'int'>
9
<class 'int'>

In [25]:
A = int(input("Give the first number"))
B = int(input("Give the second number"))
count = 0
remainder = A
if A % B == 0:
    print("A is Divisble by B")
else:
    while remainder >= B:
        remainder = remainder-B
        count+=1
    print(count)

Give the first number 25
Give the second number 3

8

In [28]:
L = [23,7,25,35,67,12,89,56,3,46,7,89,45,23,41,85,86,78,12,36,151,74,12,78,14]
len(L)

25

In [29]:
for item in L:
    if item % 3 == 0:
        print("Divisible")
    else:
        print("Not Divivsible")

Not Divivsible
Not Divivsible
Not Divivsible
Not Divivsible
Not Divivsible
Divisible
Not Divivsible
Not Divivsible
Divisible
Not Divivsible
Not Divivsible
Not Divivsible
Divisible
Not Divivsible
Not Divivsible
Not Divivsible
Not Divivsible
Divisible
Divisible
Divisible
Not Divivsible
Not Divivsible
Divisible
Divisible
Not Divivsible

In [32]:
list1 = [23,"ramesh",34,21,"mango"]
list1[1] = "shyam" # by this step we were able to mutate the list at a particular index
list1

[23, 'shyam', 34, 21, 'mango']

In [ ]:
tuple1 = (23,"ramesh",34,21,"mango")
tuple1[1] = "shyam" # This step will give error because we can not change an element at any index in case of a tuple
                    #